p {
    color: dodgerblue;
}

.Nom {
    text-align: center;
}


header {
    border-radius: 10%;
    color: rgba(0, 0, 0);
    background-color: rgb(104, 137, 245);
    columns: 1;
}

img {
    text-align: center;
    width: 3cm;
    border-radius: 50%;
}

body {
    columns: 2;
}

#left {
    border-radius: 10%;
    background-color: aquamarine;
}